# Kodai

In [12]:
name = "Grazvis"
surname = "Golcas"
print (name + " " + surname)

text = "Python makes me really really happy!"
print (text.upper())
print (text.replace("Python","PyThOn"))

text_2 = "Hello World, I am happy to learn Python!"
print (text_2[18:23])
print (text_2[text_2.find("happy"):text_2.find("happy") + len("happy")])

Grazvis Golcas
PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!
happy
happy

In [28]:
from datetime import datetime

birth = datetime(1998, 2, 25)
now = datetime.now()
time_alive = now - birth
print (time_alive.days)

8959

In [27]:
text = "bandau toliau"
kazkas = "bandau" in text
print (kazkas)

True

In [62]:
from pickle import FALSE


tuple_1 = (4,3,6)
tuple_2 = (6,9)
tuple_3 = tuple_1 + tuple_2
temp_list = list(tuple_3)
temp_list.pop()
print (temp_list)
tuple_3 = tuple(sorted(temp_list))
print (tuple_3)
print (tuple_3.count(6))

[4, 3, 6, 6]
(3, 4, 6, 6)
2

In [63]:
miestai = ["Vilnius","Kaunas","Klaipeda"]
for miestas in miestai:
    print (miestas)

Vilnius
Kaunas
Klaipeda

In [78]:
#skaiciai = range(0,11)
#for skaicius in skaiciai:
#    print (skaicius)

#suma = 0
#for skaicius in range (0,51):
#    suma = suma + skaicius
#    print (suma)

# gaunamas_skaicius = input("Skaicius:")
# print (gaunamas_skaicius)
# skaicius = int(gaunamas_skaicius)
# for x in range(1,11):
#     x = x * skaicius
#     print(x)

# dienos = ["Pirmadienis","Antradienis","Treciadienis","Ketvirtadienis","Penktadienis"]
# valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# kombinacijos =[]
# for diena in dienos:
#     for valanda in valandos:
#         kombinacijos.append( (diena, valanda) )
# print (kombinacijos)

asd = int(input("Ivedimas:"))
if :
    print(f"{}")
else

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19)]